@import '@fullcalendar/common/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';
@import '@fullcalendar/list/main.css';
@import '@fullcalendar/resource-timeline/main.css';

@tailwind utilities;

html.dark {
    --fc-border-color: theme(colors.white / 5%);
}

.fc-toolbar-chunk {
    @apply space-y-1;
}

.fc-toolbar-title {
    @apply !text-lg leading-5 md:!text-3xl;
}

.filament-fullcalendar--calendar.fc .fc-button {
    @apply min-h-[2.25rem] rounded-lg px-[6px] py-1 text-sm font-medium text-white shadow outline-none transition-colors md:px-4;
}

.filament-fullcalendar--calendar.fc .fc-button-primary {
    @apply border-[color:rgba(var(--primary-600))] bg-[color:rgba(var(--primary-600))];
}

.filament-fullcalendar--calendar.fc .fc-button-primary:hover {
    @apply border-[color:rgba(var(--primary-600))] bg-[color:rgba(var(--primary-500))];
}

.filament-fullcalendar--calendar.fc .fc-button-primary:disabled {
    @apply border-[color:rgba(var(--primary-600))] bg-[color:rgba(var(--primary-600))] opacity-70;
}

.filament-fullcalendar--calendar.fc
    .fc-button-primary:not(:disabled).fc-button-active,
.filament-fullcalendar--calendar.fc .fc-button-primary:not(:disabled):active {
    @apply border-[color:rgba(var(--primary-600))] bg-[color:rgba(var(--primary-500))] shadow-none;
}

.filament-fullcalendar--calendar.fc .fc-button-primary:focus,
.filament-fullcalendar--calendar.fc .fc-button-primary:not(:disabled):focus,
.filament-fullcalendar--calendar.fc
    .fc-button-primary:not(:disabled).fc-button-active:focus,
.filament-fullcalendar--calendar.fc
    .fc-button-primary:not(:disabled):active:focus {
    @apply bg-[color:rgba(var(--primary-700))] shadow-none outline-none ring-2 ring-inset ring-white ring-offset-2 ring-offset-[color:rgba(var(--primary-700))];
}

.filament-fullcalendar--calendar.fc .fc-daygrid-day.fc-day-today,
.filament-fullcalendar--calendar.fc .fc-highlight {
    @apply bg-[color:rgba(var(--primary-500))];
}

.dark .filament-fullcalendar--calendar.fc .fc-daygrid-day.fc-day-today {
    @apply bg-[color:rgba(var(--primary-900))];
}
