@theme{
    --fc-small-font-size: 0.85em;
    --fc-page-bg-color: rgb(255 255 255);
    --fc-neutral-bg-color: oklch(98.5% 0.002 247.839);
    --fc-neutral-text-color: #808080;
    --fc-border-color: oklch(92.8% 0.006 264.531);

    --fc-button-text-color: #fff;
    --fc-button-bg-color: oklch(66.6% 0.179 58.318);
    --fc-button-border-color: oklch(66.6% 0.179 58.318);
    --fc-button-hover-bg-color: oklch(70.5% 0.213 47.604);
    --fc-button-hover-border-color: oklch(70.5% 0.213 47.604);
    --fc-button-active-bg-color: oklch(70.5% 0.213 47.604);
    --fc-button-active-border-color: oklch(70.5% 0.213 47.604);

    --fc-event-bg-color: oklch(66.6% 0.179 58.318);
    --fc-event-border-color: oklch(66.6% 0.179 58.318);
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;

    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;

    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: oklch(92.4% 0.12 95.746);
    --fc-today-bg-color: oklch(96.2% 0.059 95.617);
    --fc-now-indicator-color: red;

    --fc-list-event-hover-bg-color: oklch(98.5% 0.002 247.839);

    /* Dark Theme */
    --fc-dark-page-bg-color: oklch(21% 0.034 264.665);
    --fc-dark-neutral-bg-color: oklch(27.8% 0.033 256.848);
    --fc-dark-border-color: oklch(37.3% 0.034 259.733);

    --fc-dark-button-bg-color: oklch(70.5% 0.213 47.604);
    --fc-dark-button-border-color: oklch(66.6% 0.179 58.318);
    --fc-dark-button-hover-bg-color: oklch(82.8% 0.189 84.429);
    --fc-dark-button-hover-border-color: oklch(70.5% 0.213 47.604);
    --fc-dark-button-active-bg-color: oklch(82.8% 0.189 84.429);
    --fc-dark-button-active-border-color: oklch(70.5% 0.213 47.604);

    --fc-dark-event-bg-color: oklch(70.5% 0.213 47.604);
    --fc-dark-event-border-color: oklch(66.6% 0.179 58.318);

    --fc-dark-list-event-hover-bg-color: oklch(27.8% 0.033 256.848);
}

.filament-fullcalendar {
    font-size: var(--fc-small-font-size);
    background-color: var(--fc-page-bg-color);
    color: var(--fc-neutral-text-color);
    border-color: var(--fc-border-color);

    .fc-button {
        color: var(--fc-button-text-color);
        background-color: var(--fc-button-bg-color);
        border-color: var(--fc-button-border-color);
    }

    .fc-button:hover {
        background-color: var(--fc-button-hover-bg-color);
        border-color: var(--fc-button-hover-border-color);
    }

    .fc-button:active {
        background-color: var(--fc-button-active-bg-color);
        border-color: var(--fc-button-active-border-color);
    }

    .fc-event {
        background-color: var(--fc-event-bg-color);
        border-color: var(--fc-event-border-color);
        color: var(--fc-event-text-color);
    }

    .fc-event-selected {
        box-shadow: inset 0 0 0 9999px var(--fc-event-selected-overlay-color);
    }

    .fc-more-link {
        background-color: var(--fc-more-link-bg-color);
        color: var(--fc-more-link-text-color);
    }

    .fc-event-resizer {
        --thickness: var(--fc-event-resizer-thickness);
        width: var(--thickness);
        height: var(--thickness);
    }

    .fc-event-resizer-dot {
        width: var(--fc-event-resizer-dot-total-width);
        height: var(--fc-event-resizer-dot-total-width);
        border-width: var(--fc-event-resizer-dot-border-width);
    }

    .fc-non-business {
        background-color: var(--fc-non-business-color);
    }

    .fc-bg-event {
        background-color: var(--fc-bg-event-color);
        opacity: var(--fc-bg-event-opacity);
    }

    .fc-highlight {
        background-color: var(--fc-highlight-color);
    }

    .fc-today {
        background-color: var(--fc-today-bg-color);
    }

    .fc-now-indicator {
        color: var(--fc-now-indicator-color);
    }

    .fc-list-event:hover {
        background-color: var(--fc-list-event-hover-bg-color);
    }
}

html.dark .filament-fullcalendar {
    background-color: var(--fc-dark-page-bg-color);
    color: var(--fc-neutral-text-color);
    border-color: var(--fc-dark-border-color);

    .fc-button {
        background-color: var(--fc-dark-button-bg-color);
        border-color: var(--fc-dark-button-border-color);
    }

    .fc-button:hover {
        background-color: var(--fc-dark-button-hover-bg-color);
        border-color: var(--fc-dark-button-hover-border-color);
    }

    .fc-button:active {
        background-color: var(--fc-dark-button-active-bg-color);
        border-color: var(--fc-dark-button-active-border-color);
    }

    .fc-event {
        background-color: var(--fc-dark-event-bg-color);
        border-color: var(--fc-dark-event-border-color);
    }

    .fc-list-event:hover {
        background-color: var(--fc-dark-list-event-hover-bg-color);
    }
}

.filament-fullcalendar .fc-toolbar-chunk {
    @apply space-y-1;
}

.filament-fullcalendar .fc-toolbar-title {
    @apply !text-lg leading-5 md:!text-3xl;
}

.filament-fullcalendar.fc .fc-button {
    @apply min-h-[2.25rem] rounded-lg px-[6px] py-1 text-sm font-medium shadow outline-none transition-colors md:px-4;
}

.filament-fullcalendar.fc .fc-button-primary:disabled {
    @apply opacity-70;
}

.filament-fullcalendar.fc .fc-button-primary:not(:disabled).fc-button-active,
.filament-fullcalendar.fc .fc-button-primary:not(:disabled):active {
    @apply shadow-none;
}

.filament-fullcalendar .fc-view table,
.filament-fullcalendar .fc-view:not(.fc-list) table th,
.filament-fullcalendar .fc-list {
    @apply rounded-t-xl;
}

.filament-fullcalendar .fc-list {
    @apply overflow-hidden;
}

.filament-fullcalendar .fc-list .fc-list-event-title a {
    @apply cursor-pointer;
}

.filament-fullcalendar .fc-list-sticky .fc-list-day th {
    @apply bg-inherit;
}
